site_name: Joshua Ewer's Data Science Portfolio
site_url: https://jewer.github.io/DataSciencePortfolio
repo_url: https://github.com/jewer/DataSciencePortfolio
repo_name: 'jewer/DataSciencePortfolio'
docs_dir: docs/
extra:
  homepage: https://jewer.github.io/DataSciencePortfolio/projects/list/
theme:
  name: material
  palette:
    - scheme: default
      toggle:
        icon: material/weather-night
        name: Dark Mode
    - scheme: slate
      toggle:
        icon: material/weather-sunny
        name: Light Mode
  features:
    - navigation.instant
    - navigation.instant.progress
    - navigation.instant.preview
    - navigation.tracking
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.sections
    - navigation.expand
    - toc.integrate
    - search.suggest
    - search.highlight

nav:
 - Projects: projects/list.md
 - Concepts: concepts.md
 - About/Contact: 
   - About Me: about/about.md
   - Contact: about/contact.md


markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences

plugins:
  - search
  - tags: 
      tags_file: concepts.md
#  - mkdocs-jupyter:
#      ignore_h1_titles: True
#      include_requirejs: true
#      include_source: True
#      include: ["*.ipynb"] 