site_name: Data Science Portfolio
theme:
  name: material
  palette:
    - scheme: default
      toggle:
        icon: material/brightness-7
        name: Dark Mode
    - scheme: slate
      toggle:
        icon: material/brightness-4
        name: Light Mode
  features:
    - navigation.instant
    - navigation.instant.progress
    - navigation.instant.preview
    - navigation.tracking
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.sections
    - navigation.expand
    - toc.integrate
    - search.suggest
    - search.highlight
nav:
 - Projects: 
   - List: projects/index.md
   - Project1: projects/project1.md
   - Project2: projects/project2.md
 - Concepts: concepts.md
 - About: 
   - About Me: about/about.md
   - Resume: about/resume.md

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences

plugins:
  - search
  - tags: 
      tags_file: concepts.md

